!!! 5
%html
  %head
    %meta(charset="UTF-8")
    %meta(content="text/html")
    %meta(http-equiv="Content-Type")
  %body
    %h1 Welcome to myFlix, #{@user.full_name}
    %p You have successfully signed up to myFlix
    %br
    %p To login to the site, just follow this link: #{@url}
    %p Thanks for joining and have a great day!